<link rel="stylesheet" href="/css/styles.css">
<script src="/js/login.js" defer></script>


<section id="home" class="hero">
    <h1>Login Account</h1>
    <form id="loginform" name="loginform">
        <label>Username</label>
        <input type="text" name="userName" placeholder="Enter Username"><br><br>
        <label>Password</label>
        <input type="password" name="password" placeholder="Enter Password"><br><br>
        <button id="loginAccount" type="button"> Login </button>
        <button type="reset"> Reset </button>
    </form>
</section> 